{
  "log": {
    "_recordingName": "user service/resetPassword/a valid request resolves",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "110ead582b8d7aa3924be3b8973a89eb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"reset_password_token\":\"T5pjH3MT\",\"password\":\"Test1234\",\"password_confirmation\":\"Test1234\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "/users/password/edit?success=Your+password+was+changed+successfully."
            },
            {
              "name": "status",
              "value": "204 No Content"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 645,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
