{
  "log": {
    "_recordingName": "shares/it returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4e1fb35da699a5cdeea9f668e3944dd6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 3026f7fac8194d7e97fda6d198c1f679"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/devices"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1455,
            "text": "[{\"device\":{\"product_name\":\"Oakland\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W000426300\",\"oem_model\":\"Onyx28FS\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"template_id\":546,\"mac\":\"a408eac76fad\",\"unique_hardware_id\":null,\"lan_ip\":\"192.168.1.2\",\"connected_at\":\"2020-08-12T10:16:04Z\",\"key\":301114,\"lan_enabled\":false,\"has_properties\":true,\"product_class\":null,\"connection_status\":\"Online\",\"lat\":\"37.8075\",\"lng\":\"-122.2644\",\"locality\":\"94612\",\"device_type\":\"Wifi\"}},{\"device\":{\"product_name\":\"Kraftful HQ\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W001132899\",\"oem_model\":\"Onyx43\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"template_id\":20475,\"mac\":\"a0cc2b3ddaa0\",\"unique_hardware_id\":null,\"hwsig\":\"mac-a0cc2b3ddaa0\",\"lan_ip\":\"192.168.1.9\",\"connected_at\":\"2020-06-29T20:29:06Z\",\"key\":25702624,\"lan_enabled\":false,\"has_properties\":true,\"product_class\":null,\"connection_status\":\"Offline\",\"lat\":\"37.6624\",\"lng\":\"-97.3156\",\"locality\":\"67211\",\"device_type\":\"Wifi\"}},{\"device\":{\"product_name\":\"Essex\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W005851005\",\"oem_model\":\"Onyx43\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"template_id\":20475,\"mac\":\"e8e8b71c0a64\",\"unique_hardware_id\":null,\"hwsig\":\"mac-e8e8b71c0a64\",\"lan_ip\":\"192.168.1.26\",\"connected_at\":\"2020-07-24T10:15:28Z\",\"key\":26455124,\"lan_enabled\":false,\"has_properties\":true,\"product_class\":null,\"connection_status\":\"Offline\",\"lat\":\"37.803916\",\"lng\":\"-122.26118\",\"locality\":\"94612\",\"device_type\":\"Wifi\"}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"ddb30af5424648b2f9d78e2155d1cb59\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 409,
      },
      {
        "_id": "b092de42c1a99df9a26528f83ed0b42c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 3026f7fac8194d7e97fda6d198c1f679"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W000426300"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1030,
            "text": "{\"device\":{\"id\":301114,\"product_name\":\"Oakland\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W000426300\",\"oem\":\"7d69ec1a\",\"oem_model\":\"Onyx28FS\",\"unique_hardware_id\":null,\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"user_id\":4775315,\"user_uuid\":\"4c1b068c-84cc-11ea-b979-0a580ae994a6\",\"template_id\":546,\"mac\":\"a408eac76fad\",\"imei\":null,\"ip\":\"38.88.22.230\",\"lan_ip\":\"192.168.1.2\",\"ssid\":\"Big%20Whoop\",\"connected_at\":\"2020-08-12T10:16:04Z\",\"key\":301114,\"product_class\":null,\"has_properties\":true,\"lan_enabled\":false,\"enable_ssl\":null,\"ans_enabled\":true,\"ans_server\":\"ans-2-field.aylanetworks.com\",\"log_enabled\":false,\"registered\":true,\"connection_status\":\"Online\",\"registration_type\":\"AP-Mode\",\"lat\":\"37.8075\",\"lng\":\"-122.2644\",\"locality\":\"94612\",\"homekit\":null,\"module_updated_at\":\"2016-11-21T16:27:52Z\",\"registrable\":true,\"regtoken\":\"c57ce1\",\"setup_token\":\"416cf436\",\"provisional\":false,\"device_type\":\"Wifi\",\"activated_at\":\"2016-11-21T16:27:50Z\",\"created_at\":\"2016-07-08T03:54:26Z\",\"last_get_at\":\"2020-08-12T10:16:04Z\",\"address\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"05dbe69ace4ddbb42199f30f86441e9e\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "https://ads-field[...]
