{
  "log": {
    "_recordingName": "resetPassword/it resolves to a TokenInvalid with a token that has been previously used",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "110ead582b8d7aa3924be3b8973a89eb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"reset_password_token\":\"T5pjH3MT\",\"password\":\"Test1234\",\"password_confirmation\":\"Test1234\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 50,
            "text": "{\"errors\":{\"reset_password_token\":[\"is invalid\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 353,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
