{
  "log": {
    "_recordingName": "user service/refreshToken/it returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7004b4273958f378ff93ff8eb7bfba6c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"refresh_token\":\"765f937ca2954a448e8906762755136b\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"b9c55647622f4386907ec83a40b2ddb0\",\"expires_in\":86399,\"refresh_token\":\"5160e6a2769b4154b01ea845b41bc059\",\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"2590cee3f9b8fff7fdebe34d4a8b1b2c\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 905,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
