{
  "log": {
    "_recordingName": "non-zoning controllers/it adds and removes the leave/arrive events",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "5aa374544e1340d44522109721949919",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 0267e40852644b139d6c2308ea090cd4"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W000426300/properties"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 46536,
            "text": "[{\"property\":{\"type\":\"Property\",\"name\":\"Away\",\"base_type\":\"string\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-08-14T23:41:03Z\",\"key\":14468111,\"device_key\":301114,\"product_name\":\"Oakland\",\"track_only_changes\":false,\"display_name\":\"Away\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":\"HOME;62,76\",\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30,\"ack_status\":null,\"ack_message\":null,\"acked_at\":null}},{\"property\":{\"type\":\"Property\",\"name\":\"Banner\",\"base_type\":\"integer\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-08-14T23:41:03Z\",\"key\":14467494,\"device_key\":301114,\"product_name\":\"Oakland\",\"track_only_changes\":false,\"display_name\":\"Banner\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":33,\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30,[...]
