{
  "log": {
    "_recordingName": "shareLocation/it overwrites an existing share",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b092de42c1a99df9a26528f83ed0b42c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 490c534e019248cc9bfb00c76b77d63c"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W000426300"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1031,
            "text": "{\"device\":{\"id\":301114,\"product_name\":\"Oakland\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W000426300\",\"oem\":\"7d69ec1a\",\"oem_model\":\"Onyx28FS\",\"unique_hardware_id\":null,\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"user_id\":4771839,\"user_uuid\":\"6ab9c8a4-8386-11ea-9acb-0a580ae90ed0\",\"template_id\":546,\"mac\":\"a408eac76fad\",\"imei\":null,\"ip\":\"38.88.22.243\",\"lan_ip\":\"192.168.1.13\",\"ssid\":\"Big%20Whoop\",\"connected_at\":\"2020-09-15T22:02:54Z\",\"key\":301114,\"product_class\":null,\"has_properties\":true,\"lan_enabled\":false,\"enable_ssl\":null,\"ans_enabled\":true,\"ans_server\":\"ans-2-field.aylanetworks.com\",\"log_enabled\":false,\"registered\":true,\"connection_status\":\"Online\",\"registration_type\":\"AP-Mode\",\"lat\":\"37.8487\",\"lng\":\"-122.2209\",\"locality\":\"94611\",\"homekit\":null,\"module_updated_at\":\"2016-11-21T16:27:52Z\",\"registrable\":true,\"regtoken\":\"0046dc\",\"setup_token\":\"1616b62c\",\"provisional\":false,\"device_type\":\"Wifi\",\"activated_at\":\"2016-11-21T16:27:50Z\",\"created_at\":\"2016-07-08T03:54:26Z\",\"last_get_at\":\"2020-09-15T22:02:54Z\",\"address\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f78c003cab7b1982e102749f8731e76e\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "https://ads-field.aylanetworks.com/devices/301114"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 409,
      },
      {
        "_id": "5aa374544e1340d44522109721949919",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 490c534e019248cc9bfb00c76b77d63c"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W000426300/properties"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 46553,
            "text": "[{\"property\":{\"type\":\"Property\",\"name\":\"Away\",\"base_type\":\"string\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-09-15T22:03:18Z\",\"key\":14468111,\"device_key\":301114,\"product_name\":\"Oakland\",\"track_only_changes\":false,\"display_name\":\"Away\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":\"HOME;64,75\",\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30,\"ack_status\":null,\"ack_message\":null,\"acked_at\":null}},{\"property\":{\"type\":\"Property\",\"name\":\"Banner\",\"base_type\":\"integer\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-09-15T22:03:18Z\",\"key\":14467494,\"device_key\":301114,\"product_name\":\"Oakland\",\"track_only_changes\":false,\"display_name\":\"Banner\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":33,\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30,[...]
