{
  "log": {
    "_recordingName": "checkEmail/it marks available emails as available",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "69fe2f0a514ee1522c4ef2f9ae9e2e4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"kraftfulho+available@gmail.com\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 103,
            "text": "{\"errors\":{\"password\":[\"can't be blank\"],\"firstname\":[\"can't be blank\"],\"lastname\":[\"can't be blank\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 401,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
