{
  "log": {
    "_recordingName": "resetPassword/it resolves to a ResetPasswordSuccess containing with a valid token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "a586860cf78a69c44bc00c4fe4cb499c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"reset_password_token\":\"CzXXppMd\",\"password\":\"Test1234\",\"password_confirmation\":\"Test1234\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "/users/password/edit?success=Your+password+was+changed+successfully."
            },
            {
              "name": "status",
              "value": "204 No Content"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 534,
      },
      {
        "_id": "0facf844e7bfe08622fff2c5e91503aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky@kraftful.com\",\"password\":\"Test1234\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"27684ab6f0d34c8b9f75233cb78bcca6\",\"refresh_token\":\"0fffcb4b465f4d268d7e391bf28125d3\",\"expires_in\":86400,\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"58c70d19e88b249c4eefc7b354dfde98\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 420,
      },
      {
        "_id": "a03f1519ffa9abb99c718f3f7ee3634c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 27684ab6f0d34c8b9f75233cb78bcca6"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/get_user_profile"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 446,
            "text": "{\"approved\":true,\"confirmed\":true,\"city\":null,\"company\":null,\"confirmed_at\":\"2020-04-21T04:13:32Z\",\"country\":\"United States\",\"created_at\":\"2020-04-21T04:13:12Z\",\"email\":\"nicky@kraftful.com\",\"firstname\":\"Nicky\",\"lastname\":\"Leach\",\"phone_country_code\":null,\"phone\":null,\"primary_contact\":\"email\",\"state\":null,\"street\":null,\"updated_at\":\"2020-07-01T19:19:19Z\",\"username\":\"nicky@kraftful.com\",\"uuid\":\"6ab9c8a4-8386-11ea-9acb-0a580ae90ed0\",\"zip\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"c85fc77b0768f36c857e2ee3a9fe708c\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 331,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
