{
  "log": {
    "_recordingName": "non-zoning controllers/it changes modes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "28aa953559d53d483e7439937730205c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 01d5b17855c84905ad3e920a6a4081c5"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"batch_datapoints\":[{\"dsn\":\"AC000W000426300\",\"name\":\"TmpOvrSt\",\"datapoint\":{\"value\":0}},{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1Prev\",\"datapoint\":{\"value\":3}},{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1\",\"datapoint\":{\"value\":2}}]}"
          },
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/batch_datapoints"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 541,
            "text": "[{\"dsn\":\"AC000W000426300\",\"name\":\"TmpOvrSt\",\"status\":201,\"datapoint\":{\"updated_at\":\"2020-10-19T15:20:11Z\",\"created_at\":\"2020-10-19T15:20:11Z\",\"echo\":false,\"metadata\":{},\"value\":0}},{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1Prev\",\"status\":201,\"datapoint\":{\"updated_at\":\"2020-10-19T15:20:11Z\",\"created_at\":\"2020-10-19T15:20:11Z\",\"echo\":false,\"metadata\":{},\"value\":3}},{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1\",\"status\":201,\"datapoint\":{\"updated_at\":\"2020-10-19T15:20:11Z\",\"created_at\":\"2020-10-19T15:20:11Z\",\"echo\":false,\"metadata\":{},\"value\":2}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3025a6dc4b2b45f0b3ec184c72da230c\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "201 Created"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 0,
      },
      {
        "_id": "6a7bd3d850a3a13867adbd5953eb6022",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 01d5b17855c84905ad3e920a6a4081c5"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
    [...]
