{
  "log": {
    "_recordingName": "sendConfirmationEmail/it resolves to a SendConfirmationEmailSuccess with a valid email address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "621ecfefa79173d47e87dd35153b0aed",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+bob3@kraftful.com\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}},\"email_template_id\":\"jci_hx_user_universal\"}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/confirmation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"99914b932bd37a50b983c5e7c90ae93b\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "https://user-field.aylanetworks.com?message=You will receive an email with instructions about how to confirm your account in a few minutes."
            },
            {
              "name": "status",
              "value": "201 Created"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 529,
      },
      {
        "_id": "af73fa0f55343829da071b113123c74e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+bob3@kraftful.com\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 176,
            "text": "{\"errors\":{\"password\":[\"can't be blank\"],\"username\":[\"has already been taken\"],\"email\":[\"has already been taken\"],\"firstname\":[\"can't be blank\"],\"lastname\":[\"can't be blank\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 1294,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
