{
  "log": {
    "_recordingName": "login/it allows a user to login",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f90daa6677d2993b7da1ad70c305500a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"kraftfulho@gmail.com\",\"password\":\"Test1234!\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"3986de8bb5c54e0982e169c619fb1b44\",\"refresh_token\":\"79c35077c7a749bea83fab84761c39e1\",\"expires_in\":86400,\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"c31bfa85a5837f042385e14031ccec20\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 625,
      },
      {
        "_id": "a03f1519ffa9abb99c718f3f7ee3634c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 3986de8bb5c54e0982e169c619fb1b44"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/get_user_profile"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 439,
            "text": "{\"approved\":true,\"confirmed\":true,\"city\":null,\"company\":null,\"confirmed_at\":\"2020-04-22T19:08:50Z\",\"country\":\"USA\",\"created_at\":\"2020-04-22T19:05:57Z\",\"email\":\"kraftfulho@gmail.com\",\"firstname\":\"John\",\"lastname\":\"Dough\",\"phone_country_code\":null,\"phone\":null,\"primary_contact\":\"email\",\"state\":null,\"street\":null,\"updated_at\":\"2020-06-15T05:13:23Z\",\"username\":\"kraftfulho@gmail.com\",\"uuid\":\"4c1b068c-84cc-11ea-b979-0a580ae994a6\",\"zip\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"432b1220dce22ce6fea90dcc6ff7c3ae\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 367,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
