{
  "log": {
    "_recordingName": "confirmEmail/it allows an email address to be confirmed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "faa84fc32d507c30fb5d036f45611230",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"confirmation_token\":\"qr8CNtu8\"}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/confirmation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 482,
            "text": "{\"admin\":false,\"alternate_email\":null,\"approved\":true,\"country\":\"USA\",\"created_at\":\"2020-06-25T16:45:36Z\",\"email\":\"nicky+signupmutation@kraftful.com\",\"firstname\":\"Nicky\",\"id\":5006258,\"lastname\":\"Leach\",\"oem_approved\":false,\"origin_oem_id\":5,\"phone_number\":null,\"primary_contact\":\"email\",\"terms_accepted\":false,\"terms_accepted_at\":\"2020-06-25T16:45:36Z\",\"updated_at\":\"2020-06-25T16:51:43Z\",\"username\":\"nicky+signupmutation@kraftful.com\",\"uuid\":\"4b810582-b703-11ea-9136-0a580ae98e6f\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"37a2eb9b4a2612a08aa805e9b57dbb71\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
