{
  "log": {
    "_recordingName": "changeVacation/it disables vacation mode",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b02bd023acb0bb786ea645ca30780a3f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 437e8db5739842429bc72e74dee28fc3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W005851005"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1064,
            "text": "{\"device\":{\"id\":26455124,\"product_name\":\"Essex\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W005851005\",\"oem\":\"7d69ec1a\",\"oem_model\":\"Onyx43\",\"unique_hardware_id\":null,\"hwsig\":\"mac-e8e8b71c0a64\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"user_id\":4775315,\"user_uuid\":\"4c1b068c-84cc-11ea-b979-0a580ae994a6\",\"template_id\":20475,\"mac\":\"e8e8b71c0a64\",\"imei\":null,\"ip\":\"38.88.22.232\",\"lan_ip\":\"192.168.1.26\",\"ssid\":\"Big%20Whoop\",\"connected_at\":\"2020-07-24T10:15:28Z\",\"key\":26455124,\"product_class\":null,\"has_properties\":true,\"lan_enabled\":false,\"enable_ssl\":null,\"ans_enabled\":true,\"ans_server\":\"ans-2-field.aylanetworks.com\",\"log_enabled\":false,\"registered\":true,\"connection_status\":\"Offline\",\"registration_type\":\"AP-Mode\",\"lat\":\"37.803916\",\"lng\":\"-122.26118\",\"locality\":\"94612\",\"homekit\":null,\"module_updated_at\":\"2020-05-21T18:44:44Z\",\"registrable\":true,\"regtoken\":\"f0fdc5\",\"setup_token\":\"AGxlXWjA\",\"provisional\":false,\"device_type\":\"Wifi\",\"activated_at\":\"2020-05-21T18:44:43Z\",\"created_at\":\"2019-11-19T15:09:10Z\",\"last_get_at\":\"2020-07-24T10:15:28Z\",\"address\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"77dfc22c775313ac8805706753731481\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "https://ads-field.aylanetworks.com/devices/26455124"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 281,
      },
      {
        "_id": "a6d064fc345ed6c3ca6535157843323c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 437e8db5739842429bc72e74dee28fc3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W005851005/properties"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 112415,
            "text": "[{\"property\":{\"type\":\"Property\",\"name\":\"ActiveSystemAirflow\",\"base_type\":\"integer\",\"read_only\":true,\"direction\":\"output\",\"scope\":\"user\",\"data_updated_at\":\"2020-07-23T01:39:27Z\",\"key\":207800032,\"device_key\":26455124,\"product_name\":\"Essex\",\"track_only_changes\":false,\"display_name\":\"Active System Airflow\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":0,\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30}},{\"property\":{\"type\":\"Property\",\"name\":\"Away\",\"base_type\":\"string\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-07-23T01:40:55Z\",\"key\":207799820,\"device_key\":26455124,\"product_name\":\"Essex\",\"track_only_changes\":false,\"display_name\":\"Away Zone 1\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":\"AWAY;62,85\",\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30,\"ack_status\":null,\"ack_message\":null,\"acked_at\":null}},{\"property\":{\"type\":\"Property\",\"name\":\"AwayZn2\",\"base_type\":\"string\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-07-23T01:40:55Z\",\"key\":207799864,\"device_key\":26455124,\"product_name\":\"Essex\",\"track_only_changes\":false,\"display_name\":\"Away Zone 2\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":\"HOME;62,85\",\"denied_roles\":[],\"ack_enabled\":false,\"re[...]
