{
  "log": {
    "_recordingName": "login/it fails with an invalid email or password",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f9f29d4f2a47d0a210d9fb547c2d4d75",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"kraftfuloh@gmail.com\",\"password\":\"invalid\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 38,
            "text": "{\"error\":\"Invalid email or password.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 484,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
