{
  "log": {
    "_recordingName": "user service/confirmEmail/a valid request resolves",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e977dfaa64b53f2d7df6df901994c247",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"confirmation_token\":\"avFdQFvt\"}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/confirmation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 472,
            "text": "{\"admin\":false,\"alternate_email\":null,\"approved\":true,\"country\":\"USA\",\"created_at\":\"2020-06-25T16:30:55Z\",\"email\":\"nicky+logintest@kraftful.com\",\"firstname\":\"Nicky\",\"id\":5006193,\"lastname\":\"Leach\",\"oem_approved\":false,\"origin_oem_id\":5,\"phone_number\":null,\"primary_contact\":\"email\",\"terms_accepted\":false,\"terms_accepted_at\":\"2020-06-25T16:30:55Z\",\"updated_at\":\"2020-06-25T16:39:12Z\",\"username\":\"nicky+logintest@kraftful.com\",\"uuid\":\"3e65892e-b701-11ea-a1b3-0a580ae95fa2\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"9f885169c29c0f8f29567fbcb208f38e\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 434,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
