{
  "log": {
    "_recordingName": "refreshToken/it will fallback to login when the refresh token is invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "308862acf0b812fcd0dfcad8de6e756c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"refresh_token\":\"invalid\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 41,
            "text": "{\"error\":\"Your refresh token is invalid\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 496,
      },
      {
        "_id": "415ccda7abc76b895764b3d959d94608",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+signupmutation4@kraftful.com\",\"password\":\"d0Vn6PAm\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"8bf52a2804df43d7aec304dcbd3deac1\",\"refresh_token\":\"fc254d2d8b734738b50644fdf34e57a4\",\"expires_in\":86400,\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"e2db3c153aeaf6984e226dd03e40bf83\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 483,
      },
      {
        "_id": "e22f22b99719dda40bbf4034b250de7a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 8bf52a2804df43d7aec304dcbd3deac1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/api/v1/users/data"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 132,
            "text": "[{\"datum\":{\"created_at\":\"2020-08-31T06:03:29Z\",\"key\":\"ksid\",\"updated_at\":\"2020-08-31T06:03:29Z\",\"user_id\":5218750,\"value\":\"ksid1\"}}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"26ae44566d5dbc40f92570f4a9a48c0a\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 349,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
