{
  "log": {
    "_recordingName": "zoning controllers/it cancels a fan hold",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "fb6df62570ecca01834fa6a58ca79435",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 91059aefef794be68bbcba5bd3e58151"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W001132899"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1068,
            "text": "{\"device\":{\"id\":25702624,\"product_name\":\"Kraftful HQ\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W001132899\",\"oem\":\"7d69ec1a\",\"oem_model\":\"Onyx43\",\"unique_hardware_id\":null,\"hwsig\":\"mac-a0cc2b3ddaa0\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"user_id\":4775315,\"user_uuid\":\"4c1b068c-84cc-11ea-b979-0a580ae994a6\",\"template_id\":20475,\"mac\":\"a0cc2b3ddaa0\",\"imei\":null,\"ip\":\"24.249.129.79\",\"lan_ip\":\"192.168.1.9\",\"ssid\":\"Hx%20Teardown\",\"connected_at\":\"2020-06-29T20:29:06Z\",\"key\":25702624,\"product_class\":null,\"has_properties\":true,\"lan_enabled\":false,\"enable_ssl\":null,\"ans_enabled\":true,\"ans_server\":\"ans-2-field.aylanetworks.com\",\"log_enabled\":false,\"registered\":true,\"connection_status\":\"Offline\",\"registration_type\":\"AP-Mode\",\"lat\":\"37.6624\",\"lng\":\"-97.3156\",\"locality\":\"67211\",\"homekit\":null,\"module_updated_at\":\"2019-07-31T15:39:09Z\",\"registrable\":true,\"regtoken\":\"4d0f7e\",\"setup_token\":\"srkTkRut\",\"provisional\":false,\"device_type\":\"Wifi\",\"activated_at\":\"2019-07-31T15:39:08Z\",\"created_at\":\"2019-01-22T17:19:44Z\",\"last_get_at\":\"2020-06-29T20:29:06Z\",\"address\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"872442cd4156c2bf98e36dc71c77930b\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "https://ads-field.aylanetworks.com/devices/25702624"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 752,
      },
      {
        "_id": "9285ec9246bbcf1f95cf8bd15ececcb1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 91059aefef794be68bbcba5bd3e58151"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W001132899/properties"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 113193,
            "text": "[{\"property\":{\"type\":\"Property\",\"name\":\"ActiveSystemAirflow\",\"base_type\":\"integer\",\"read_only\":true,\"direction\":\"output\",\"scope\":\"user\",\"data_updated_at\":\"2020-06-29T20:31:24Z\",\"key\":199915274,\"device_key\":25702624,\"product_name\":\"Kraftful HQ\",\"track_only_changes\":false,\"display_name\":\"Active System Airflow\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":0,\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30}},{\"property\":{\"type\":\"Property\",\"name\":\"Away\",\"base_type\":\"string\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-07-13T23:17:55Z\",\"key\":157366874,\"device_key\":25702624,\"product_name\":\"Kraftful HQ\",\"track_only_changes\":false,\"display_name\":\"Away\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":\"HOME;62,85\",\"denied_roles\":[],\"ack_enabled\":false,\"retention_days\":30,\"ack_status\":null,\"ack_message\":null,\"acked_at\":null}},{\"property\":{\"type\":\"Property\",\"name\":\"AwayZn2\",\"base_type\":\"string\",\"read_only\":false,\"direction\":\"input\",\"scope\":\"user\",\"data_updated_at\":\"2020-07-13T23:17:55Z\",\"key\":199915078,\"device_key\":25702624,\"product_name\":\"Kraftful HQ\",\"track_only_changes\":false,\"display_name\":\"Away Zone 2\",\"host_sw_version\":false,\"time_series\":false,\"derived\":false,\"app_type\":null,\"recipe\":null,\"value\":\"HOME;62,85\",\"denied_roles\":[],\"ack_enabled\":fals[...]
