{
  "log": {
    "_recordingName": "user service/profile/it returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "a03f1519ffa9abb99c718f3f7ee3634c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token c34ba8f2e69d4cf6af478b5cd25aed7c"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/get_user_profile"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 439,
            "text": "{\"approved\":true,\"confirmed\":true,\"city\":null,\"company\":null,\"confirmed_at\":\"2020-04-22T19:08:50Z\",\"country\":\"USA\",\"created_at\":\"2020-04-22T19:05:57Z\",\"email\":\"kraftfulho@gmail.com\",\"firstname\":\"John\",\"lastname\":\"Dough\",\"phone_country_code\":null,\"phone\":null,\"primary_contact\":\"email\",\"state\":null,\"street\":null,\"updated_at\":\"2020-06-15T05:16:25Z\",\"username\":\"kraftfulho@gmail.com\",\"uuid\":\"4c1b068c-84cc-11ea-b979-0a580ae994a6\",\"zip\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"24269e5f0bb092aba9768cd62419f4b5\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 377,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
