{
  "log": {
    "_recordingName": "signIn/it allows a user to sign in with a forgot password token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "9c4d2e0fd3c8e3438f2bcb95b9028ffd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"reset_password_token\":\"tVkoeqsa\",\"password\":\"5x4ATkq+\",\"password_confirmation\":\"5x4ATkq+\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "value": "/users/password/edit?success=Your+password+was+changed+successfully."
            },
            {
              "name": "status",
              "value": "204 No Content"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 675,
      },
      {
        "_id": "4839d545dfc6bbbdcaaf3c0cb63041b2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+signupmutation4@kraftful.com\",\"password\":\"5x4ATkq+\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"de1df7b753b44dd196dcfe8e6a836e32\",\"refresh_token\":\"23883dc183694356b211e4b32c7ac875\",\"expires_in\":86400,\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"81d84b19b5b18ed0c2970ba60c6be3ef\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462,
      },
      {
        "_id": "e22f22b99719dda40bbf4034b250de7a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token de1df7b753b44dd196dcfe8e6a836e32"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/api/v1/users/data"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 132,
            "text": "[{\"datum\":{\"created_at\":\"2020-08-31T06:03:29Z\",\"key\":\"ksid\",\"updated_at\":\"2020-08-31T06:03:29Z\",\"user_id\":5218750,\"value\":\"ksid1\"}}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"26ae44566d5dbc40f92570f4a9a48c0a\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433,
      },
      {
        "_id": "88324e22f46bd6049f6fc465fb578cb3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token de1df7b753b44dd196dcfe8e6a836e32"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"current_password\":\"5x4ATkq+\",\"password\":\"d0Vn6PAm\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "location",
              "valu[...]
