{
  "log": {
    "_recordingName": "login/it fails when an account needs to be confirmed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "21211fd79f2ce949e2f08a59db541676",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+bob3@kraftful.com\",\"password\":\"Test1234!\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 63,
            "text": "{\"error\":\"You have to confirm your account before continuing.\"}"
          },
            {
              "expires": "1970-01-01T00:00:00.000Z",
              "name": "remember_user_token",
              "path": "/",
              "value": ""
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 454,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
