{
  "log": {
    "_recordingName": "refreshToken/it allows an access token to be refreshed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "32ff6e291525f7d144a1156ea3e2db59",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"refresh_token\":\"f6a65423bb864f0c982615772cb53c97\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"af105afff58f40c0ab78755fd5819a6b\",\"expires_in\":86398,\"refresh_token\":\"8a8972a3a322481784638d089e8ac4bf\",\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"c0cf0a1b05e71554034d9c6486e722d6\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 700,
      },
      {
        "_id": "e22f22b99719dda40bbf4034b250de7a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token af105afff58f40c0ab78755fd5819a6b"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/api/v1/users/data"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 132,
            "text": "[{\"datum\":{\"created_at\":\"2020-07-03T21:22:07Z\",\"key\":\"ksid\",\"updated_at\":\"2020-07-03T21:22:07Z\",\"user_id\":5035612,\"value\":\"ksid1\"}}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"d8458cadba1a83e8f7f378cd8ed87b0b\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
