{
  "log": {
    "_recordingName": "device service/datapoints/batchDatapoints/it returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3ad330d08dfd01e3c82e3df12faa6a9a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token ab794c6fa4e4497b8fa2320702856603"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"batch_datapoints\":[{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1Prev\",\"datapoint\":{\"value\":3}},{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1\",\"datapoint\":{\"value\":1}}]}"
          },
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/batch_datapoints"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 361,
            "text": "[{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1Prev\",\"status\":201,\"datapoint\":{\"updated_at\":\"2020-06-15T05:06:54Z\",\"created_at\":\"2020-06-15T05:06:54Z\",\"echo\":false,\"metadata\":{},\"value\":3}},{\"dsn\":\"AC000W000426300\",\"name\":\"UsrMd1\",\"status\":201,\"datapoint\":{\"updated_at\":\"2020-06-15T05:06:54Z\",\"created_at\":\"2020-06-15T05:06:54Z\",\"echo\":false,\"metadata\":{},\"value\":1}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"25ac64dea8fedb9149e6158f710a98c1\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "201 Created"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 670,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
