{
  "log": {
    "_recordingName": "device service/metadata/metadata/it returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "174369519a887056eaa74d86a699d473",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token ab794c6fa4e4497b8fa2320702856603"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W000426300/data"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 166,
            "text": "[{\"datum\":{\"created_at\":\"2017-04-27T20:25:06Z\",\"from_template\":false,\"key\":\"RoomName\",\"updated_at\":\"2020-06-14T23:51:31Z\",\"value\":\"Bedroom\",\"dsn\":\"AC000W000426300\"}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"6f3649a8b566863465c04d0dab8c3227\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 397,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
