{
  "log": {
    "_recordingName": "confirmEmail/it fails when an invalid token is provided",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "aa6b774ffa096ce160a1216c9e833df8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"confirmation_token\":\"invalid\"}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/confirmation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 48,
            "text": "{\"errors\":{\"confirmation_token\":[\"is invalid\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 261,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
