{
  "log": {
    "_recordingName": "device service/devices/it returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4e1fb35da699a5cdeea9f668e3944dd6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token ab794c6fa4e4497b8fa2320702856603"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/devices"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1460,
            "text": "[{\"device\":{\"product_name\":\"Oakland\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W000426300\",\"oem_model\":\"Onyx28FS\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"template_id\":546,\"mac\":\"a408eac76fad\",\"unique_hardware_id\":null,\"lan_ip\":\"192.168.1.29\",\"connected_at\":\"2020-06-14T10:15:42Z\",\"key\":301114,\"lan_enabled\":false,\"has_properties\":true,\"product_class\":null,\"connection_status\":\"Online\",\"lat\":\"37.803943\",\"lng\":\"-122.261147\",\"locality\":\"94612\",\"device_type\":\"Wifi\"}},{\"device\":{\"product_name\":\"Kraftful HQ\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W001132899\",\"oem_model\":\"Onyx43\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"template_id\":20475,\"mac\":\"a0cc2b3ddaa0\",\"unique_hardware_id\":null,\"hwsig\":\"mac-a0cc2b3ddaa0\",\"lan_ip\":\"192.168.1.9\",\"connected_at\":\"2020-06-14T08:15:34Z\",\"key\":25702624,\"lan_enabled\":false,\"has_properties\":true,\"product_class\":null,\"connection_status\":\"Online\",\"lat\":\"37.6624\",\"lng\":\"-97.3156\",\"locality\":\"67211\",\"device_type\":\"Wifi\"}},{\"device\":{\"product_name\":\"Home\",\"model\":\"AY001MTS1\",\"dsn\":\"AC000W001137442\",\"oem_model\":\"Onyx43\",\"sw_version\":\"bc 2.4.5 04/22/16 09:21:48 ID 2123200\",\"template_id\":20475,\"mac\":\"a0cc2b64860f\",\"unique_hardware_id\":null,\"hwsig\":\"mac-a0cc2b64860f\",\"lan_ip\":\"192.168.86.29\",\"connected_at\":\"2020-05-24T02:41:26Z\",\"key\":26326221,\"lan_enabled\":false,\"has_properties\":true,\"product_class\":null,\"connection_status\":\"Offline\",\"lat\":\"37.748176\",\"lng\":\"-122.424545\",\"locality\":\"94110\",\"device_type\":\"Wifi\"}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"059b7562b000e0020ac00841f75d68cf\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 577,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
