{
  "log": {
    "_recordingName": "me/it returns the correct fields when authenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "a03f1519ffa9abb99c718f3f7ee3634c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 62d8d3cffcd142fa9424a2e7e3ea0579"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/get_user_profile"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 439,
            "text": "{\"approved\":true,\"confirmed\":true,\"city\":null,\"company\":null,\"confirmed_at\":\"2020-04-22T19:08:50Z\",\"country\":\"USA\",\"created_at\":\"2020-04-22T19:05:57Z\",\"email\":\"kraftfulho@gmail.com\",\"firstname\":\"John\",\"lastname\":\"Dough\",\"phone_country_code\":null,\"phone\":null,\"primary_contact\":\"email\",\"state\":null,\"street\":null,\"updated_at\":\"2020-08-11T21:29:25Z\",\"username\":\"kraftfulho@gmail.com\",\"uuid\":\"4c1b068c-84cc-11ea-b979-0a580ae994a6\",\"zip\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dfc96bef0de1511385dcf0fb231ccb69\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 434,
      },
      {
        "_id": "e22f22b99719dda40bbf4034b250de7a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token 62d8d3cffcd142fa9424a2e7e3ea0579"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/api/v1/users/data"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 329,
            "text": "[{\"datum\":{\"created_at\":\"2020-07-03T22:56:37Z\",\"key\":\"ksid\",\"updated_at\":\"2020-07-03T22:56:37Z\",\"user_id\":4775315,\"value\":\"97c63b80e916780e224d1c08429dca17a57d78893ad3a975817ddc0af7a1a7f8\"}},{\"datum\":{\"created_at\":\"2020-08-11T21:28:41Z\",\"key\":\"temperatureUnit\",\"updated_at\":\"2020-08-11T21:30:55Z\",\"user_id\":4775315,\"value\":\"F\"}}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"8d9449afbcac434f7d7835aa9d640768\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
