{
  "log": {
    "_recordingName": "sendPasswordResetEmail/it resolves to a ConfirmationRequired when the account needs to be confirmed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4cef711128d8c2f188b08a7e63022a6c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+bob3@kraftful.com\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}},\"email_template_id\":\"jci_hx_password_universal\"}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 75,
            "text": "{\"errors\":{\"base\":[\"You have to confirm your account before continuing.\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 424,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
