{
  "log": {
    "_recordingName": "signIn/it allows a user to sign in with a confirmation token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4f7ff7f711e36e77cec550bc41dab2d6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"reset_password_token\":\"bCuxGEzu\",\"password\":\"d0Vn6PAm\",\"password_confirmation\":\"d0Vn6PAm\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 50,
            "text": "{\"errors\":{\"reset_password_token\":[\"is invalid\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 434,
      },
      {
        "_id": "fab051d372016400d8ed95515b53a090",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"confirmation_token\":\"bCuxGEzu\"}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/confirmation"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 484,
            "text": "{\"admin\":false,\"alternate_email\":null,\"approved\":true,\"country\":\"USA\",\"created_at\":\"2020-08-31T06:00:56Z\",\"email\":\"nicky+signupmutation4@kraftful.com\",\"firstname\":\"Nicky\",\"id\":5218750,\"lastname\":\"Leach\",\"oem_approved\":false,\"origin_oem_id\":5,\"phone_number\":null,\"primary_contact\":\"email\",\"terms_accepted\":false,\"terms_accepted_at\":\"2020-08-31T06:00:56Z\",\"updated_at\":\"2020-08-31T06:03:28Z\",\"username\":\"nicky+signupmutation4@kraftful.com\",\"uuid\":\"55e79d80-eb4f-11ea-a7bc-0a580ae98b08\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"03e98cd7178d32ee1784633f8e5a4ce3\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 319,
      },
      {
        "_id": "7f4dfc05e51af2a4b39cedbce149cc70",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"nicky+signupmutation4@kraftful.com\",\"password\":\"5oPsgIU+\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"076abe2ca00e4a60877085b256b9cc11\",\"refresh_token\":\"a28f8c3082644ec48bbdd2887c4fb5cd\",\"expires_in\":86400,\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1eb30c5d5ddffb3fadb484ca09b69f7a\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
 [...]
