{
  "log": {
    "_recordingName": "user service/changePassword/an invalid current password rejects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "72cebee01a7b2a406e92fcaf595f6d6c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token b11befd2348a4bac91f2a35033b6ae2c"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"current_password\":\"invalid\",\"password\":\"Test1234!\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 46,
            "text": "{\"errors\":{\"current_password\":[\"is invalid\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 598,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
