{
  "log": {
    "_recordingName": "device service/metadata/setMetadata/it returns  the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c9683f7f80a97fd47ebfbf19e66ec253",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "auth_token ab794c6fa4e4497b8fa2320702856603"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"datum\":{\"key\":\"RoomName\",\"value\":\"Bedroom\"}}"
          },
          "queryString": [],
          "url": "https://ads-field.aylanetworks.com/apiv1/dsns/AC000W000426300/data/RoomName"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 164,
            "text": "{\"datum\":{\"created_at\":\"2017-04-27T20:25:06Z\",\"from_template\":false,\"key\":\"RoomName\",\"updated_at\":\"2020-06-14T23:51:31Z\",\"value\":\"Bedroom\",\"dsn\":\"AC000W000426300\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"1c10cc73312e5b27de6088940a380b9d\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
