{
  "log": {
    "_recordingName": "user service/login/a successful login returns the correct fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "f90daa6677d2993b7da1ad70c305500a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"email\":\"kraftfulho@gmail.com\",\"password\":\"Test1234!\",\"application\":{\"app_id\":\"JCI-iOS-Thermostat280-id\",\"app_secret\":\"JCI-iOS-Thermostat280--II9aj3PKLxAckfmXBIDFWkWxVI\"}}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/sign_in"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 153,
            "text": "{\"access_token\":\"fa80768ee6254c339d2a66fddaa8ecf6\",\"refresh_token\":\"b2270b0d1535437c8e5ea896d08025e1\",\"expires_in\":86400,\"role\":\"EndUser\",\"role_tags\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"78c98a59d21e5cffffa99f32927095b8\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 790,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
