{
  "log": {
    "_recordingName": "user service/resetPassword/an invalid password rejects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7a0a475044e088319d390afcc18e11fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"reset_password_token\":\"T5pjH3MT\",\"password\":\"invalid\",\"password_confirmation\":\"invalid\"}}"
          },
          "queryString": [],
          "url": "https://user-field.aylanetworks.com/users/password"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 166,
            "text": "{\"errors\":{\"password\":[\"must be between 8 and 128 characters long, have at least one number or special character, one upper case letter, and one lower case letter\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 14 Dec 2050 18:43:58 GMT"
            },
            {
              "name": "status",
              "value": "422 Unprocessable Entity"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 499,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
